<div class="game-home-container">
  <img alt="Background" class="background-img" src="assets/homeBackground.jpg">
  <h1 class="game-title">Bienvenue à NeuroBoost</h1>

  <button (click)="startGame()" class="play-button">
    <span class="play-icon">🎮</span>
    <span class="play-text">Lancer une session</span>
  </button>

  <button (click)="createQuiz()" class="secondary-button">
    <span class="play-icon">➕</span>
    <span class="play-text">CRÉER UN QUIZ</span>
  </button>

  <button (click)="createProfile()" class="secondary-button">
    <span class="play-icon">👤</span>
    <span class="play-text">CRÉER UN PROFIL</span>
  </button>
</div>
